.toolbar {
  width: 100%;
  display: flex;
  gap: 8px;
  &-panel {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 8px;
  }
  &-anchor {
    position: relative;
    &:hover {
      .hidden-templates {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    }
    .hidden-templates {
      padding-top: 10px;
      right: 0;
      height: auto;
      width: max-content;
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      display: none;
      gap: 8px;
    }
  }
}
